html, body {
    height: 100%;
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
}

.boat-marker {
    width: 34px;
    height: 34px;
}

.boat-marker__img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center;
    will-change: transform;
}

.ref-marker {
    width: 30px;
    height: 30px;
}

.ref-marker__img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mapboxgl-ctrl-group button.active {
    background-color: rgba(0, 0, 0, 0.1);
}
